<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.mingxin.fusheng.user.dao.UserDao">
<!-- 设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
    <resultMap id="BaseResultMap" type="com.mingxin.fusheng.user.domain.User">
        <id column="user_id" property="user_id" jdbcType="INTEGER" />
        <result column="user_name" property="user_name" jdbcType="CHAR" />
        <result column="user_pwd" property="user_pwd" jdbcType="CHAR" />
    </resultMap>
     <!--查询单条记录 -->
    <select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM sy_org_user WHERE USER_ID = #{user_id}
    </select>
</mapper> 